/* * Layout */


.topheader{
    background-color: black;
}

#jumbo{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 800px;
}

#jumbo-newgames{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#newgames{
    background-color: #1F1F1F;
}

#psplus{
    background-color: #BEBCBB;
}

#psnow{
    background-color: #161C3B;
}

footer{
   background-color: #00439C; 
}

/* * Generics */

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* * Utils */

.btn.btn-danger{
    background-color: #CD3D0F;
}

.btn-danger:hover{
    border-color: black;
}

img{
    cursor: pointer;
    pointer-events: none;
}

.w-20{
    width: 20%;
}

/* Buttons hovers */

.hover-line:hover{
    box-shadow:  0 0 1px 3px black;
    outline: 1px solid white;
}

.hover-line-purchase:hover{
    box-shadow: 0 0 1px 3px #CD3D0F;
    outline: 1px solid black;
}

.hover-line-primary:hover{
    outline: 1px solid white;
    box-shadow:  0 0 1px 3px #0070D1;
}

.hover-line-light:hover{
    box-shadow:  0 0 2px 2px white;
}

.hover-line-darkblue:hover{
    outline: 2px solid #161C3B;
    box-shadow:  0 0 1px 4px white;
}

.hover-line-purchase{
    
}

/* ! Content */

/* Header */

#sony-logo{
    height: 18px;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #0070D1;
}

.nav-link i.bi-chevron-down::before{
    font-size: 15px;
}

header .avatar-fill{
    height: 100%;
    width: 30px;
    color: blue;
}


/* Jumbo */

#returnal-logo{
    width: 300px;
}

/* Jumbo games */

#jumbo-games img, #newgames img{
    border-radius: 15px;
}

.active-card{
    border: 2px solid white;
    outline: 4px solid #0070D1;
}

#jumbo-games .trasl-hover{
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

#jumbo-games .trasl-hover:hover{
    transform: translateY(-20px);
}

/* PS5 */

#ps5 .card.opacity-50:hover{
    opacity: 1.0!important;
}

/* Explore */

.h1-explore{
    position: relative;
}

.registered{
    position: absolute;
    top: 20px;
    font-size: 20px;
}

/* Ps plus */

.psplus-img{
    height: 440px;
}

/* Footer */

.country{
    width: 32px;
}

footer .list-group-item{
    background-color: transparent;
    border: 0;
}

footer .list-group-item a, footer a{
    text-decoration: none;
    color: #fff;
}

footer a:hover{
    color: #fff;
}